
  /* Main Content */

#wrapper {
    /* Positioning */
    margin-bottom: 10px;
    padding-bottom: 40px;
  }

  #title h1 {
      margin: 0 auto;
  }

  /* 5 Day Forecast */

  #five-day-div {
      margin: 0px 5px;
      padding: 20px 5px;
      background-color: #077293;
      color: whitesmoke;
      border-radius: 5px;
  }

/* UV Index*/

#uv-index {
    padding: 10px;
    border-radius: 5px;
}

.low-uv {
    background-color: green;
}

.mod-uv {
    background-color: yellow;
    border: 1px yellow;
}

.high-uv {
    background: orange;
}

.very-high-uv {
    background-color: red;
}

.extreme-uv {
    background-color: purple;
}